<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<dict>
        <!-- oauth -->
		<key>token</key>
		<dict>
			<key>url</key>
			<string>https://api.instagram.com/oauth/access_token</string>
			<key>method</key>
			<string>POST</string>
			<key>contentType</key>
			<string>application/x-www-form-urlencoded</string>
			<key>dataType</key>
			<string>json</string>
			<key>timeout</key>
			<string>10</string>
			<key>async</key>
			<true/>
		</dict>
		<key>authorize</key>
		<dict>
			<key>url</key>
			<string>https://api.instagram.com/oauth/authorize</string>
			<key>method</key>
			<string>GET</string>
			<key>contentType</key>
			<string>application/x-www-form-urlencoded</string>
			<key>dataType</key>
			<string>json</string>
			<key>timeout</key>
			<string>10</string>
			<key>async</key>
			<true/>
		</dict>
        
        <!-- users -->
        <key>/users/self</key>
        <dict>
            <key>url</key>
            <string>https://api.instagram.com/v1/users/self</string>
            <key>method</key>
            <string>GET</string>
            <key>contentType</key>
            <string>application/x-www-form-urlencoded</string>
            <key>dataType</key>
            <string>json</string>
            <key>timeout</key>
            <string>10</string>
            <key>async</key>
            <true/>
        </dict>
        <key>/users/user-id</key>
        <dict>
            <key>url</key>
            <string>https://api.instagram.com/v1/users/{user-id}</string>
            <key>method</key>
            <string>GET</string>
            <key>contentType</key>
            <string>application/x-www-form-urlencoded</string>
            <key>dataType</key>
            <string>json</string>
            <key>timeout</key>
            <string>10</string>
            <key>async</key>
            <true/>
        </dict>
        <key>/users/self/media/recent</key>
        <dict>
            <key>url</key>
            <string>https://api.instagram.com/v1/users/self/media/recent</string>
            <key>method</key>
            <string>GET</string>
            <key>contentType</key>
            <string>application/x-www-form-urlencoded</string>
            <key>dataType</key>
            <string>json</string>
            <key>timeout</key>
            <string>10</string>
            <key>async</key>
            <true/>
        </dict>
        <key>/users/user-id/media/recent</key>
        <dict>
            <key>url</key>
            <string>https://api.instagram.com/v1/users/{user-id}/media/recent</string>
            <key>method</key>
            <string>GET</string>
            <key>contentType</key>
            <string>application/x-www-form-urlencoded</string>
            <key>dataType</key>
            <string>json</string>
            <key>timeout</key>
            <string>10</string>
            <key>async</key>
            <true/>
        </dict>
        <key>/users/self/media/liked</key>
        <dict>
            <key>url</key>
            <string>https://api.instagram.com/v1/users/self/media/liked</string>
            <key>method</key>
            <string>GET</string>
            <key>contentType</key>
            <string>application/x-www-form-urlencoded</string>
            <key>dataType</key>
            <string>json</string>
            <key>timeout</key>
            <string>10</string>
            <key>async</key>
            <true/>
        </dict>
        <key>/users/search</key>
        <dict>
            <key>url</key>
            <string>https://api.instagram.com/v1/users/search</string>
            <key>method</key>
            <string>GET</string>
            <key>contentType</key>
            <string>application/x-www-form-urlencoded</string>
            <key>dataType</key>
            <string>json</string>
            <key>timeout</key>
            <string>10</string>
            <key>async</key>
            <true/>
        </dict>
        
        <!-- relationships -->
        <key>/users/self/follows</key>
        <dict>
            <key>url</key>
            <string>https://api.instagram.com/v1/users/self/follows</string>
            <key>method</key>
            <string>GET</string>
            <key>contentType</key>
            <string>application/x-www-form-urlencoded</string>
            <key>dataType</key>
            <string>json</string>
            <key>timeout</key>
            <string>10</string>
            <key>async</key>
            <true/>
        </dict>
        <key>/users/self/followed-by</key>
        <dict>
            <key>url</key>
            <string>https://api.instagram.com/v1/users/self/followed-by</string>
            <key>method</key>
            <string>GET</string>
            <key>contentType</key>
            <string>application/x-www-form-urlencoded</string>
            <key>dataType</key>
            <string>json</string>
            <key>timeout</key>
            <string>10</string>
            <key>async</key>
            <true/>
        </dict>
        <key>/users/self/requested-by</key>
        <dict>
            <key>url</key>
            <string>https://api.instagram.com/v1/users/self/requested-by</string>
            <key>method</key>
            <string>GET</string>
            <key>contentType</key>
            <string>application/x-www-form-urlencoded</string>
            <key>dataType</key>
            <string>json</string>
            <key>timeout</key>
            <string>10</string>
            <key>async</key>
            <true/>
        </dict>
        <key>/users/user-id/relationship</key>
        <dict>
            <key>url</key>
            <string>https://api.instagram.com/v1/users/{user-id}/relationship</string>
            <key>method</key>
            <string>GET</string>
            <key>contentType</key>
            <string>application/x-www-form-urlencoded</string>
            <key>dataType</key>
            <string>json</string>
            <key>timeout</key>
            <string>10</string>
            <key>async</key>
            <true/>
        </dict>
        <key>/users/user-id/relationship/post</key>
        <dict>
            <key>url</key>
            <string>https://api.instagram.com/v1/users/{user-id}/relationship/post</string>
            <key>method</key>
            <string>POST</string>
            <key>contentType</key>
            <string>application/x-www-form-urlencoded</string>
            <key>dataType</key>
            <string>json</string>
            <key>timeout</key>
            <string>10</string>
            <key>async</key>
            <true/>
        </dict>
        
        <!-- media -->
        <key>/media/media-id</key>
        <dict>
            <key>url</key>
            <string>https://api.instagram.com/v1/media/{media-id}</string>
            <key>method</key>
            <string>GET</string>
            <key>contentType</key>
            <string>application/x-www-form-urlencoded</string>
            <key>dataType</key>
            <string>json</string>
            <key>timeout</key>
            <string>10</string>
            <key>async</key>
            <true/>
        </dict>
        <key>/media/shortcode/shortcode</key>
        <dict>
            <key>url</key>
            <string>https://api.instagram.com/v1/media/shortcode/{shortcode}</string>
            <key>method</key>
            <string>GET</string>
            <key>contentType</key>
            <string>application/x-www-form-urlencoded</string>
            <key>dataType</key>
            <string>json</string>
            <key>timeout</key>
            <string>10</string>
            <key>async</key>
            <true/>
        </dict>
        <key>/media/search</key>
        <dict>
            <key>url</key>
            <string>https://api.instagram.com/v1/media/search</string>
            <key>method</key>
            <string>GET</string>
            <key>contentType</key>
            <string>application/x-www-form-urlencoded</string>
            <key>dataType</key>
            <string>json</string>
            <key>timeout</key>
            <string>10</string>
            <key>async</key>
            <true/>
        </dict>
        
        <!-- comments -->
        <key>/media/media-id/comments</key>
        <dict>
            <key>url</key>
            <string>https://api.instagram.com/v1/media/{media-id}/comments</string>
            <key>method</key>
            <string>GET</string>
            <key>contentType</key>
            <string>application/x-www-form-urlencoded</string>
            <key>dataType</key>
            <string>json</string>
            <key>timeout</key>
            <string>10</string>
            <key>async</key>
            <true/>
        </dict>
        <key>/media/media-id/comments/post</key>
        <dict>
            <key>url</key>
            <string>https://api.instagram.com/v1/media/{media-id}/comments</string>
            <key>method</key>
            <string>POST</string>
            <key>contentType</key>
            <string>application/x-www-form-urlencoded</string>
            <key>dataType</key>
            <string>json</string>
            <key>timeout</key>
            <string>10</string>
            <key>async</key>
            <true/>
        </dict>
        <key>/media/media-id/comments/comment-id</key>
        <dict>
            <key>url</key>
            <string>https://api.instagram.com/v1/media/{media-id}/comments/{comment-id}</string>
            <key>method</key>
            <string>DELETE</string>
            <key>contentType</key>
            <string>application/x-www-form-urlencoded</string>
            <key>dataType</key>
            <string>json</string>
            <key>timeout</key>
            <string>10</string>
            <key>async</key>
            <true/>
        </dict>
        
        <!-- likes -->
        <key>/media/media-id/likes</key>
        <dict>
            <key>url</key>
            <string>https://api.instagram.com/v1/media/{media-id}/likes</string>
            <key>method</key>
            <string>GET</string>
            <key>contentType</key>
            <string>application/x-www-form-urlencoded</string>
            <key>dataType</key>
            <string>json</string>
            <key>timeout</key>
            <string>10</string>
            <key>async</key>
            <true/>
        </dict>
        <key>/media/media-id/likes/post</key>
        <dict>
            <key>url</key>
            <string>https://api.instagram.com/v1/media/{media-id}/likes</string>
            <key>method</key>
            <string>POST</string>
            <key>contentType</key>
            <string>application/x-www-form-urlencoded</string>
            <key>dataType</key>
            <string>json</string>
            <key>timeout</key>
            <string>10</string>
            <key>async</key>
            <true/>
        </dict>
        <key>/media/media-id/likes/del</key>
        <dict>
            <key>url</key>
            <string>https://api.instagram.com/v1/media/{media-id}/likes</string>
            <key>method</key>
            <string>DELETE</string>
            <key>contentType</key>
            <string>application/x-www-form-urlencoded</string>
            <key>dataType</key>
            <string>json</string>
            <key>timeout</key>
            <string>10</string>
            <key>async</key>
            <true/>
        </dict>
        
        <!-- tags -->
        <key>/tags/tag-name</key>
        <dict>
            <key>url</key>
            <string>https://api.instagram.com/v1/tags/{tag-name}</string>
            <key>method</key>
            <string>GET</string>
            <key>contentType</key>
            <string>application/x-www-form-urlencoded</string>
            <key>dataType</key>
            <string>json</string>
            <key>timeout</key>
            <string>10</string>
            <key>async</key>
            <true/>
        </dict>
        <key>/tags/tag-name/media/recent</key>
        <dict>
            <key>url</key>
            <string>https://api.instagram.com/v1/tags/{tag-name}/media/recent</string>
            <key>method</key>
            <string>GET</string>
            <key>contentType</key>
            <string>application/x-www-form-urlencoded</string>
            <key>dataType</key>
            <string>json</string>
            <key>timeout</key>
            <string>10</string>
            <key>async</key>
            <true/>
        </dict>
        <key>/tags/search</key>
        <dict>
            <key>url</key>
            <string>https://api.instagram.com/v1/tags/search</string>
            <key>method</key>
            <string>GET</string>
            <key>contentType</key>
            <string>application/x-www-form-urlencoded</string>
            <key>dataType</key>
            <string>json</string>
            <key>timeout</key>
            <string>10</string>
            <key>async</key>
            <true/>
        </dict>
        
        <!-- locations -->
        <key>/locations/location-id</key>
        <dict>
            <key>url</key>
            <string>https://api.instagram.com/v1/locations/{location-id}</string>
            <key>method</key>
            <string>GET</string>
            <key>contentType</key>
            <string>application/x-www-form-urlencoded</string>
            <key>dataType</key>
            <string>json</string>
            <key>timeout</key>
            <string>10</string>
            <key>async</key>
            <true/>
        </dict>
        <key>/locations/location-id/media/recent</key>
        <dict>
            <key>url</key>
            <string>https://api.instagram.com/v1/locations/{location-id}/media/recent</string>
            <key>method</key>
            <string>GET</string>
            <key>contentType</key>
            <string>application/x-www-form-urlencoded</string>
            <key>dataType</key>
            <string>json</string>
            <key>timeout</key>
            <string>10</string>
            <key>async</key>
            <true/>
        </dict>
        <key>/locations/search</key>
        <dict>
            <key>url</key>
            <string>https://api.instagram.com/v1/locations/search</string>
            <key>method</key>
            <string>GET</string>
            <key>contentType</key>
            <string>application/x-www-form-urlencoded</string>
            <key>dataType</key>
            <string>json</string>
            <key>timeout</key>
            <string>10</string>
            <key>async</key>
            <true/>
        </dict>
        
        <!-- subscriptions -->
        <key>/subscriptions</key>
        <dict>
            <key>url</key>
            <string>https://api.instagram.com/v1/subscriptions</string>
            <key>method</key>
            <string>GET</string>
            <key>contentType</key>
            <string>application/x-www-form-urlencoded</string>
            <key>dataType</key>
            <string>json</string>
            <key>timeout</key>
            <string>10</string>
            <key>async</key>
            <true/>
        </dict>
        <key>/subscriptions/del</key>
        <dict>
            <key>url</key>
            <string>https://api.instagram.com/v1/subscriptions</string>
            <key>method</key>
            <string>DELETE</string>
            <key>contentType</key>
            <string>application/x-www-form-urlencoded</string>
            <key>dataType</key>
            <string>json</string>
            <key>timeout</key>
            <string>10</string>
            <key>async</key>
            <true/>
        </dict>
	</dict>
</dict>
</plist>
